// IMPORTS
@use "../assets/breakpoints" as bp;
@use "../assets/variables" as *;

.carousel {
  height: 60vh;
  width: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;
  position: relative;
  @include bp.tablet {
    height: 70vh;
  }

  &__slide {
    padding-top: 72px;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all $time-slow;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
