---
import Layout from "../layouts/Layout.astro";

const images = await Astro.glob("../images/galerie_eventy/*");

const part1 = images.slice(0, images.length / 2);
const part2 = images.slice(images.length / 2, images.length);
---

<Layout headerTitle="Michael Hýbl - galerie: svatby" redirNavigation>
  <!-- <section class="main-container my-10"> -->
  <section class="main-container pt-6">
    <h1>Eventy</h1>
    <p>
      Pořádáte konferenci, firemní večírek, dětský den či teambuildigové spirit
      akce?
    </p>
    <p>
      Vmísím se mezi vás a zaznamenám průběh celého dne, abyste si ho mohli s
      kolegy a přáteli kdykoliv připomenout.
    </p>

    <a href="/hybl-website_astro/?redir=portfolio" class="btn">
      <svg
        width="44"
        height="44"
        viewBox="0 0 44 44"
        xmlns="http://www.w3.org/2000/svg"
        class="btn__icon btn__icon--rotate"
      >
        <path
          d="M22.0003 0.666748L18.2403 4.42675L33.1203 19.3334H0.666992V24.6667H33.1203L18.2403 39.5734L22.0003 43.3334L43.3337 22.0001L22.0003 0.666748Z"
          fill="redXX"></path>
      </svg>
       zpět</a
    >
    <!-- foto HERE -->
    <div class="gallery__wrapper">
      <div class="gallery__column">
        {
          part1.map((img) => (
            <div class="gallery__item">
              <img
                src={img.default.src}
                alt="img1"
                class="gallery__img"
                loading="lazy"
              />
            </div>
          ))
        }
      </div>
      <div class="gallery__column">
        {
          part2.map((img) => (
            <div class="gallery__item">
              <img
                src={img.default.src}
                alt="img1"
                class="gallery__img"
                loading="lazy"
              />
            </div>
          ))
        }
      </div>
    </div>

    <a href="/hybl-website_astro/?redir=portfolio" class="btn">
      <svg
        width="44"
        height="44"
        viewBox="0 0 44 44"
        xmlns="http://www.w3.org/2000/svg"
        class="btn__icon btn__icon--rotate"
      >
        <path
          d="M22.0003 0.666748L18.2403 4.42675L33.1203 19.3334H0.666992V24.6667H33.1203L18.2403 39.5734L22.0003 43.3334L43.3337 22.0001L22.0003 0.666748Z"
        ></path>
      </svg>
       zpět</a
    >
  </section>
</Layout>
