---
// import ButtonLink from "../components/ButtonLink.astro";
import Carousel from "../components/Carousel.astro";
import ContactForm from "../components/ContactForm.astro";
import ContactTable from "../components/ContactTable.astro";
import PortfolioCard from "../components/PortfolioCard.astro";
import ReferenceSection from "../components/ReferenceSection.astro";

import Layout from "../layouts/Layout.astro";

// import weddingImage from "../img/miki_portolio_wedding.jpg";
import weddingImage from "../images/miki_portfolio_wedding.jpg";
import eventImage from "../images/miki_portfolio_event.jpg";

const baseUrl = import.meta.env.BASE_URL;
---

<Layout headerTitle="Michael Hýbl - svatební fotograf" bodyClass="js-home">
  <Carousel />
  <section class="main-container pt-3">
    <div class="text-container">
      <p>
        Mé jméno je Michael a zabývám se převážně svatební a event fotografií.
        Pocházím z Východních Čech a fotografování se věnuji cca 5 let. Aktuálně
        využívám fototechniku od firmy SONY.
      </p>
    </div>
  </section>

  <section class="main-container js-portfolio">
    <h1>Portfolio</h1>
    <p>
      Vstupte do mého portfolia, kde se prolíná elegance s emocemi a každý
      moment se stává nezapomenutelným příběhem. Zveme vás k prohlídce mého
      umění zachycovat krásu a autentičnost svatebních dní, společenských
      událostí. Každá fotografie je svědectvím lásky, radosti a spontánnosti,
      které rezonují skrze každý snímek. Přináším vám nejen vizuální zážitek,
      ale také možnost znovu prožít ty nejdůležitější momenty vašich životů,
      zachycené v jedinečné atmosféře svatebních slavností i živých událostí.
      Připojte se ke mně na cestě, kde se snoubí umění s životem a každý obrázek
      vypráví svůj vlastní příběh. Kromě svateb a eventů také rád zbalím foťák a
      vyrázím s ním do přírody nebo na nějaký zajímavý koncert.
    </p>
    <div class="card__group">
      <PortfolioCard
        title="Svatby"
        imageURL={weddingImage.src}
        imageAlt="Fotka ze svatby"
        link={baseUrl + "/galerie_svatby"}
      >
        Zaznamenání neopakovatelných a autentických okamžiků plných radosti,
        emocí a bezprostředních reakcí na svatebních oslavách.
      </PortfolioCard>
      <PortfolioCard
        title="Eventy"
        imageURL={eventImage.src}
        imageAlt="Event fotka"
        link={baseUrl + "/galerie_eventy"}
      >
        Fotografování firemních akcí: Zachytím atmosféru, energii a propojení
        vašeho týmu.
      </PortfolioCard>
    </div>
  </section>
  <section class="main-container js-contact">
    <ContactTable />
    <p>Pro konkrétní cenovou nabídku mě prosím kontaktujte zde:</p>
    <ContactForm />
  </section>
  <section class="main-container js-reference">
    <ReferenceSection />
  </section>
</Layout>

<script>
  // SCROLL set up
  // location on page - for scrolling to SECTION
  const locationPortfolio = document.querySelector(".js-portfolio");
  const locationContact = document.querySelector(".js-contact");
  const locationReference = document.querySelector(".js-reference");

  const navButtons = document.querySelectorAll<HTMLElement>("[data-scrollTo]");
  navButtons.forEach((btn) => {
    const selector = btn.dataset.scrollto;
    btn.addEventListener("click", () => {
      document
        .querySelector(`.${selector}`)
        ?.scrollIntoView({ behavior: "smooth" });
    });
  });

  // REDIR set up
  // test if page view should be scrolled somewhere
  //   - search in URL for variable "redir"
  //   - it is used when page is open by external page
  const searchData = window.location.search;
  const urlVar = new URLSearchParams(searchData);
  const redirValue = urlVar.get("redir");

  // scrolling to location set by redir value
  redirValue == "contact" && locationContact?.scrollIntoView();
  redirValue == "portfolio" && locationPortfolio?.scrollIntoView();
  redirValue == "reference" && locationReference?.scrollIntoView();
</script>
