---
import profileImage from "../images/miki_profile.jpg";
---

<div class="contact">
  <div class="contact__text">
    <h1>Kontakt</h1>
    <div class="contact__table">
      <div class="contact__table-labels">
        E-mail: <br />
         tel. číslo: <br />
         IČO: <br />
      </div>
      <div class="contact__table-info">
        mhyblcz@gmail.com <br />
         721 135 534 <br />
         04800338 <br />
      </div>
    </div>
  </div>
  <div class="contact__img">
    <img src={profileImage.src} alt="" />
  </div>
</div>
