<footer>
  <div class="footer">
    <p class="footer__text">
      Michael Hýbl <br />
       e-mail: mhyblcz@gmail.com <br />
       tel. číslo: 721 135 534 <br />
    </p>
    <p class="footer__text">
      Web v roce 2024 vytvořil Víťa Klejch (vita9@post.cz)
    </p>
  </div>
</footer>
