---
import Footer from "../components/Footer.astro";
import Head from "../components/Head.astro";
import Nav from "../components/Nav.astro";
import "../css/main.css";
interface Props {
  headerTitle: string;
  bodyClass?: string;
  redirNavigation?: boolean;
}

const { headerTitle, bodyClass = "", redirNavigation = false } = Astro.props;
---

<!doctype html>
<html lang="cs">
  <Head headerTitle={headerTitle} />
  <body class={bodyClass}>
    <Nav {redirNavigation} />
    <slot />
    <Footer text="some text for footer" />
    <style is:global>
      /* section {
        margin-bottom: 5rem;
      }

      .pt-3 {
        padding-top: 3rem;
      }
      .pt-6 {
        padding-top: 6rem;
      }

      .text-container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
      }

      p {
        max-width: 600px;
        margin-bottom: 1rem;
        line-height: 1.5rem;
      }
      a {
        color: inherit;
      }
      .js-portfolio,
      .js-contact,
      .js-reference {
        scroll-margin-top: 90px;
      } */
    </style>
  </body>
</html>
